doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		title 柔整ワーカーとは｜柔道整復師の求人『柔整ワーカー』
		link(rel="stylesheet", media="all", href="css/common/jquery-ui.min.css")
		link(rel="stylesheet", media="all", href="css/common/common.css")
		link(rel="stylesheet", media="all", href="css/about.css")
	body.about
		.wrapper

			include _header.pug
			
			.branding__wrapper
				section.branding
					h2
						strong 柔道整復師<span>などの</span>治療家
						span 、
						| <br>
						strong リハビリ職
						| のための
						b 専用求人サイト
						
			.content__wrapper
				section.content01
					h2 柔整ワーカーはこんな求人を掲載!!
					ul
						li 病院
						li 整形外科
						li 治療院
						li 老人福祉施設
					p
						strong 柔道整復師
						| はもちろん、理学療法士、あん摩マッサージ指圧師、鍼灸師など、
						strong 治療家
						| や
						strong リハビリ職
						| の皆さんの<br>就職・転職を応援するサイトです。煩わしい会員登録や求人サイトへの不要な個人情報登録の必要はありません。<br>もちろん
						strong.underline 全て無料
						| でご利用いただけます。
			
			.check-rec__wrapper
				.check-rec
					p 柔道整復師はもちろん、治療家・リハビリ職のみなさんの<br>就職・転職を柔整ワーカーが応援します！
						a(href="") 柔整新着求人をチェックする
						
			.content__wrapper
				section.content02
					h2 柔整ワーカーの特徴
					.content02_01
						h3 治療家・リハビリ職に特化
						p 柔整ワーカーは、治療家とリハビリ職の方々の就職・転職を支援するサイトです。柔道整復師はもちろん、あん摩マッサージ指圧師、鍼灸師（はり師、きゅう師）、スポーツトレーナーなど、マッサージやリハビリテーション、そして運動機能向上のお手伝いをする職種の求人しか取り扱いませんので、治療家・リハビリ職の皆さんにとって的外れな求人が煩わしく表示されることがありません。ゆっくりじっくり、あなたに合った仕事を見つけてください。
					.content02_02
						h3 働き場所の選択肢
						p 柔整ワーカーは、就職・転職を考える治療家・リハビリ職の方々に、あらゆる選択肢を提供いたします。
						ul
							li 圧倒的な安定感、じっくり腰を据えて勤め上げるなら
								strong 病院
							li 柔道整復師に一番人気、募集院数もグングン伸びている
								strong 整形外科クリニック
							li 将来の開業を目指しているならやっぱり
								strong 整骨院
							li 新しいことにチャレンジ！
								strong スポーツトレーナー
							li 高齢化社会を支えるやりがい
								strong 老人福祉施設
							li 将来的なキャリア、収入、ワークライフバランス、<br>あなたのプライオリティで仕事を決めてください。
					.content02_03
						h3 会員登録なし！
						p 求職者の方は当サイトでの会員登録などをせずに、すぐにご希望の求人へご応募頂くことができます。我々は個人情報を保有したり、別用途に個人情報を利用することもありません。柔整ワーカーは直接エントリー制度を取り入れておりますので、申し込みいただいた応募データは直接応募先の採用担当者へ届きそこから選考スタートとなります。柔道整復師や治療家・リハビリ職の皆さんを応援するサイトだから、煩わしいと思われる順序は排除しました。ストレスを感じず、スピーディに進めることができます。
			
			.responsive__wrapper
				.responsive
					p パソコンにもスマホにも対応したサイトだから<br>いつでもどこでも求人情報が確認できます。
			
			.content__wrapper
				section.content03
					h2 柔整ワーカーご利用の流れ
					ol
						li <b>START!</b>まずは希望の求人を見つけましょう！
						li <b>Keep機能</b>気になる求人を保存しておけます。
						li 柔整求人詳細より応募先へ直接応募ができます。
						li 応募先から直接連絡が届きます。
						li <b>選考・面接</b>条件なども確認しましょう。
						li 内定
						li <b>GOAL!</b>入社！新しい一歩が始まります。
			
			.check-rec__wrapper
				.check-rec
					p 柔道整復師はもちろん、治療家・リハビリ職のみなさんの<br>就職・転職を柔整ワーカーが応援します！
						a(href="") 柔整新着求人をチェックする
			
			.faq__wrapper
				section.faqitems
					h2 掲載についてよくある質問
					.faqitem
						h3 柔整ワーカーはどんなサービスのサイトですか？
						p 柔整ワーカーは、リハビリ職や治療家の皆さんの就職・転職を支援する求人サイトです。
					.faqitem
						h3 柔整ワーカーの求人を利用するのはどんな職種の人達ですか？
						p 柔整ワーカーは主に柔道整復師をはじめ、理学療法士、作業療法士、言語聴覚士、あん摩マッサージ指圧師、鍼灸師、看護師といった国家資格有資格者から、整体師、カイロプラクター、スポーツトレーナー、各種リラクゼーション資格を持った方まで幅広くご利用いただいております。
					.faqitem
						h3 柔整ワーカーにはどのような企業が求人を掲載しているのですか？
						p 柔整ワーカーにはリハビリ職と治療家の皆さんを必要としているあらゆる業態の施設が求人を掲載しています。<br>病院、診療所、接骨院・整骨院、鍼灸院、整体院、カイロプラクティック、スポーツジム、介護施設や老人福祉施設、マッサージ店などです。
					.faqitem
						h3 柔整ワーカーを利用するにはユーザー登録が必要ですか？
						p 柔整ワーカーを利用する求職者さんのユーザー登録は必要ありません。見つけた興味ある求人にすぐに応募できます。応募の際には氏名、電話番号、メールアドレスを入力して頂き、直接応募先の施設にお届けいたします。柔整ワーカーが求職者様の個人情報をお預かりすることはありません。
					.faqitem
						h3 柔整ワーカーで応募した際の個人情報はどのように取り扱われるのですか？
						p 柔整ワーカーで応募の際に入力して頂いた個人情報は、応募先の施設だけにお届けいたします。柔整ワーカーが求職者様の個人情報をお預かりすることはありません。
					.faqitem
						h3 気になる求人があったのですが、後日いざ応募しようと思ったら探し方が分からなくなってしまいました。
						p 柔整ワーカーには“キープ”機能があります。気になるけど今は応募を迷っているというような求人をとりあえずキープし、後日キープリストの中から簡単に呼び出して応募することができます。
					.faqitem
						h3 私は現在学生で、スキル習得と卒業後なるべく早く即戦力になりたいという目的でアルバイトを探しています。
						p 柔整ワーカーには学生アルバイトを募集している企業、治療院もたくさん求人掲載しています。募集要項に学生可などと記載されている施設を検索してみてください。
					.faqitem
						h3 柔整ワーカーを利用するのに料金はかかりますか？
						p 就職・転職する方が柔整ワーカーを利用する場合には料金は一切かかりません。
					.faqitem
						h3 柔整ワーカーは転職エージェントを介して話が進むのですか？
						p 柔整ワーカーはエージェントを使った人材紹介サービスではなく、雇用者と被雇用者をウェブ上で直接お繋げするサービスです。第三者が入ることで発生する時間ロスや伝言による勘違いなどがなく、個人情報を第三者に公開する必要もありません。
			
			.content__wrapper
				section.content04
					h2 柔整ワーカーにはこんな求人を掲載中
					h3 医院・クリニック
					ul
						- for (var i = 0; i < 4; i++) {
							li.recitem: a(href="./detail.html")
								h3
									small 整形外科
									strong メイズマッサージ
									| の柔道整復師求人
								p: strong ★★★未経験者大歓迎！充実の無料研修制度！経験者優遇！
								.recitem-status
									figure
										img(src="img/top/newitem_image_sample.jpg")
									div
										ul
											li PT
											li 柔整師
											li あん摩
										dl
											dt 正社員
											dd 月給	
												b 25.0
												| 万円　～　
												b 30.0
												| 万円
											dt パート・アルバイト
											dd 時給
												b 900
												| 円　～　
												b 1200
												| 円
								p 東京都西新宿0-0-0　西新宿ビル5階
						- }
					h3 介護施設
					ul
						- for (var i = 0; i < 4; i++) {
							li.recitem: a(href="./detail.html")
								h3
									small 整形外科
									strong メイズマッサージ
									| の柔道整復師求人
								p: strong ★★★未経験者大歓迎！充実の無料研修制度！経験者優遇！
								.recitem-status
									figure
										img(src="img/top/newitem_image_sample.jpg")
									div
										ul
											li PT
											li 柔整師
											li あん摩
										dl
											dt 正社員
											dd 月給	
												b 25.0
												| 万円　～　
												b 30.0
												| 万円
											dt パート・アルバイト
											dd 時給
												b 900
												| 円　～　
												b 1200
												| 円
								p 東京都西新宿0-0-0　西新宿ビル5階
						- }
					h3 リハビリ系
					ul
						- for (var i = 0; i < 4; i++) {
							li.recitem: a(href="./detail.html")
								h3
									small 整形外科
									strong メイズマッサージ
									| の柔道整復師求人
								p: strong ★★★未経験者大歓迎！充実の無料研修制度！経験者優遇！
								.recitem-status
									figure
										img(src="img/top/newitem_image_sample.jpg")
									div
										ul
											li PT
											li 柔整師
											li あん摩
										dl
											dt 正社員
											dd 月給	
												b 25.0
												| 万円　～　
												b 30.0
												| 万円
											dt パート・アルバイト
											dd 時給
												b 900
												| 円　～　
												b 1200
												| 円
								p 東京都西新宿0-0-0　西新宿ビル5階
						- }
					h3 整体院
					ul
						- for (var i = 0; i < 4; i++) {
							li.recitem: a(href="./detail.html")
								h3
									small 整形外科
									strong メイズマッサージ
									| の柔道整復師求人
								p: strong ★★★未経験者大歓迎！充実の無料研修制度！経験者優遇！
								.recitem-status
									figure
										img(src="img/top/newitem_image_sample.jpg")
									div
										ul
											li PT
											li 柔整師
											li あん摩
										dl
											dt 正社員
											dd 月給	
												b 25.0
												| 万円　～　
												b 30.0
												| 万円
											dt パート・アルバイト
											dd 時給
												b 900
												| 円　～　
												b 1200
												| 円
								p 東京都西新宿0-0-0　西新宿ビル5階
						- }

					form.front-search
						fieldset.search-item
							label 業態
								small を選ぶ
							.select
								select
									each val in ["指定しない", "病院", "整形外科クリニック", "その他クリニック", "接骨院・整骨院", "鍼灸院", "鍼灸整骨院", "整体院", "マッサージ・リラクゼーション", "スポーツ・フィットネスクラブ", "デイサービス）（通所介護）", "デイケア（通所リハビリ）", "訪問リハビリ", "訪問マッサージ", "訪問介護", "介護老人福祉施設", "介護老人保健施設"]
										option= val

						fieldset.search-item
							label 職種
								small を選ぶ
							.select
								select
									each val in ["指定しない", "柔道整復師", "あん摩マッサージ指圧師", "看護師・准看護師", "理学療法士（PT）", "作業療法士（OT）", "言語聴覚士（SP）", "鍼灸師", "整体師", "カイロプラクター", "スポーツトレーナー", "リラクゼーション系資格"]
										option= val
						fieldset.search-item
							label 都道府県
								small を選ぶ
							.select
								select
									option 指定しない
									optgroup(label="北海道・東北")
										each val in ["北海道", "青森県", "秋田県", "山形県", "岩手県", "宮城県", "福島県"]
											option= val
									optgroup(label="北陸・中部")
										each val in ["新潟県", "富山県", "石川県", "福井県", "山梨県", "長野県", "岐阜県", "静岡県", "愛知県"]
											option= val
									optgroup(label="関東")
										each val in ["茨城県", "栃木県", "群馬県", "埼玉県", "東京都", "神奈川県"]
											option= val
									optgroup(label="近畿")
										each val in ["三重県", "滋賀県", "京都府", "大阪府", "兵庫県", "奈良県", "和歌山県"]
											option= val
									optgroup(label="中国・四国")
										each val in ["鳥取県", "島根県", "岡山県", "広島県", "山口県", "徳島県", "香川県", "愛媛県", "高知県"]
											option= val
									optgroup(label="九州・沖縄")
										each val in ["福岡県", "佐賀県", "長崎県", "熊本県", "大分県", "鹿児島県", "宮崎県", "沖縄県"]
											option= val
						.btn-area
							button.btn-submit 検索する
			
			.check-rec__wrapper
				.check-rec
					p 柔道整復師はもちろん、治療家・リハビリ職のみなさんの<br>就職・転職を柔整ワーカーが応援します！
						a(href="") 柔整新着求人をチェックする
			
			.main
				.contents-area
					section.information
						h2 information
						ul
							- for (var i = 0; i < 5; i++) {
								li
									small 2017/06/21
									a(href="") テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
							- }
					
					section.about-area
						strong 柔道整復師とは
						p 柔道整復師とは、日本の厚生労働省に認められた国家資格を持つ人のことをいいます。整骨医や接骨医として定義され、柔道整復師の施術は医業の一部として扱われています。スポーツや日常生活において、骨折や打撲等筋腱治療を行うことができる柔道整復師は接骨院を開業したり、病院の外科や整形外科で働いたりする人が多いです。柔道整復師になる為の国家試験を受験するには、文部科学大臣の指定した学校か厚生労働大臣の指定した専門学校や大学で必要な知識を学ぶ必要があります。専門学校や大学で柔道整復師の養成課程を卒業して、やっと国家試験の受験資格が与えられます。柔道整復師の資格保有者は年々増加していますが、3人に1人の割合で65歳以上となる未来の日本においては大切な人材となってきます。老人ホームやデイサービスなど介護施設での活躍の場が広がっていく職業です。高齢社会に突入する社会で柔道整復師の存在はますます必要になってくると思われます。
						ul
							- for (var i = 0; i < 27; i++) {
								li
									a(href="") タグ
									| 、
							- }
						
					section.search-business
						h2 業態で探す
						ul
							each val in ["指定しない", "病院", "整形外科クリニック", "その他クリニック", "接骨院・整骨院", "鍼灸院", "鍼灸整骨院", "整体院", "マッサージ・リラクゼーション", "スポーツ・フィットネスクラブ", "デイサービス）（通所介護）", "デイケア（通所リハビリ）", "訪問リハビリ", "訪問マッサージ", "訪問介護", "介護老人福祉施設", "介護老人保健施設"]
								li: a(href="")= val
						
					section.search-job
						h2 職種で探す
						ul
							each val in ["指定しない", "柔道整復師", "あん摩マッサージ指圧師", "看護師・准看護師", "理学療法士（PT）", "作業療法士（OT）", "言語聴覚士（SP）", "鍼灸師", "整体師", "カイロプラクター", "スポーツトレーナー", "リラクゼーション系資格"]
								li: a(href="")= val
						
					section.search-area
						h2 エリアで探す
						h3 北海道・東北
						ul
							each val in ["北海道", "青森県", "秋田県", "山形県", "岩手県", "宮城県", "福島県"]
								li: a(href="")= val
						h3 北陸・中部
						ul
							each val in ["新潟県", "富山県", "石川県", "福井県", "山梨県", "長野県", "岐阜県", "静岡県", "愛知県"]
								li: a(href="")= val
						h3 関東
						ul
							each val in ["茨城県", "栃木県", "群馬県", "埼玉県", "東京都", "神奈川県"]
								li: a(href="")= val
						h3 近畿
						ul
							each val in ["三重県", "滋賀県", "京都府", "大阪府", "兵庫県", "奈良県", "和歌山県"]
								li: a(href="")= val
						h3 中国・四国
						ul
							each val in ["鳥取県", "島根県", "岡山県", "広島県", "山口県", "徳島県", "香川県", "愛媛県", "高知県"]
								li: a(href="")= val
						h3 九州・沖縄
						ul
							each val in ["福岡県", "佐賀県", "長崎県", "熊本県", "大分県", "鹿児島県", "宮崎県", "沖縄県"]
								li: a(href="")= val
						
					section.search-character
						h2 特徴で探す
						h3 特徴
						ul
							each val in ["駅近", "車・バイク通勤OK", "地域密着", "オープニング"]
								li: a(href="")= val
						h3 待遇・福利厚生
						ul
							each val in ["ボーナス・賞与あり", "社会保険完備", "住宅手当あり", "交通費支給"]
								li: a(href="")= val

				aside.side-area
					ul.banner-items
						li: a(href=""): img(src="img/top/side_bnr_01.jpg", alt="")
						li: a(href=""): img(src="img/top/side_bnr_02.jpg", alt="")
						li: a(href=""): img(src="img/top/side_bnr_03.jpg", alt="")
						li: a(href=""): img(src="img/top/side_bnr_04.jpg", alt="")
						li: a(href=""): img(src="img/top/side_bnr_05.jpg", alt="")
						li: a(href=""): img(src="img/top/side_bnr_06.jpg", alt="")


			include _footer.pug

		script(type="text/javascript", src="js/jquery-3.1.0.min.js")
		script(type="text/javascript", src="js/jquery-ui.min.js")
		script(type="text/javascript", src="js/jquery.ellipsis.min.js")
		script(type="text/javascript", src="js/common.js")

